mixin feedbackLink(href, iconClass, tooltip)
  li.home__feedback-list-item
    a.home__feedback-link(href=href, data-tippy-content=tooltip)
      span(class=iconClass)

mixin homeNavLink(href, text)
  li.home__list-item
    a.home__link(href=href)
      | #{text}
      span.home__link-icon.icon-arrow-right

section.home
  .home__wrapper
    include ../../components/header/header.pug
    .home__body
      include ../sidebar/sidebar.pug
      .home__content
        .home__content-body
          .home__logo
            h1.home__logo-title Cube
            span.home__logo-text Интерьерные решения
          .home__feedback
            nav.home__feedback-nav
              ul.home__feedback-list
                +feedbackLink("#!", "icon-telegram", "Telegram")
                +feedbackLink("#!", "icon-viber", "Viber")
                li
                  a.home__feedback-phone(href="tel:+375292222222", data-da=".header__body, 1170, 1") +375 (29) 222 22 22
            a.home__feedback-button(href="#!") Написать директору                   
        nav.home__nav(data-da=".home__content-body, 1170, 1")
          ul.home__list
            +homeNavLink("doors.html", "Двери")
            +homeNavLink("#!", "Фурнитура")
            +homeNavLink("#!", "Напольные покрытия")
            +homeNavLink("#!", "Кухни")
            +homeNavLink("#!", "Мягкая мебель")
            +homeNavLink("#!", "Окна")